h1,
h2,
p {
	margin-bottom: 30px;
}

p,
a,
li,
span,
b {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

ul,
ol {
	margin: 0 0 30px 0;
}

li {
	padding-left: 10px;
}

.blogPostContainer {
	padding: 0 24px 96px;
}

.divider {
	border-bottom: 1px solid $palette-c;
	height: 90px;
	margin-bottom: 30px;
	width: 100%;
}

.parens {
	opacity: 0.6;
}

.boxParagraph {
	border: 1px solid $palette-c;
	margin: 0 30px 30px;
	padding: 30px;
}

.monospace {
	font-family: 'Source Code Pro', monospace;
	margin: 0 4px;
	opacity: 0.8;
}

// dark

.isDarkMode a {
	color: $palette-b;
}

.isDarkMode h1,
.isDarkMode h2,
.isDarkMode p,
.isDarkMode ol,
.isDarkMode ul {
	color: $palette-a;
}

.isDarkMode .parens {
	color: $palette-a;
}

@media (min-width: 480px) {
	.blogPostContainer {
		padding: 0 48px 96px;
	}
}

@media (min-width: 768px) {
	.blogPostContainer {
		padding: 0 72px 96px;
	}
}

@media (min-width: 1024px) {
	.blogPostContainer {
		padding: 0 96px 96px;
	}
}
