h1 {
	text-shadow: 1px 1px 2px $palette-e;
}

h2,
p {
	margin-bottom: 30px;
}

p,
a,
li,
span,
b {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

ul,
ol {
	margin: 0 0 30px 0;
}

li {
	padding-left: 10px;
}

.blogPostContainer {
	margin: 24px auto 0;
	max-width: 1200px;
	padding: 0 24px 96px;
}

.date {
	color: $palette-d;
	font-size: 14px;
}

.divider {
	border-bottom: 1px solid $palette-c;
	height: 48px;
	margin-bottom: 30px;
	width: 100%;
}

.parens {
	color: $palette-e;
}

.boxParagraph {
	border: 1px solid $palette-c;
	margin: 0 30px 30px;
	padding: 30px;
}

.monospace {
	font-family: 'Source Code Pro', monospace;
	margin: 0 4px;
	opacity: 0.8;
}

.lessBottomMargin {
	margin-bottom: 10px;
}

@media (min-width: 480px) {
	.blogPostContainer {
		padding: 0 48px 96px;
	}
}

@media (min-width: 768px) {
	.blogPostContainer {
		padding: 0 72px 96px;
	}
}

@media (min-width: 1024px) {
	.blogPostContainer {
		padding: 0 96px 96px;
	}
}
