h1 {
	text-shadow: 2px 2px 2px $palette-dark;
}

h2,
p {
	margin-bottom: 24px;
}

p,
a,
li,
span,
b {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

ul,
ol {
	padding: 0 48px;
}

li {
	padding-left: 10px;
}

li::marker {
	color: $palette-light;
}

.blogPostContainer {
	margin: 24px auto 0;
	max-width: 1200px;
	padding: 0 24px 96px;
}

.date {
	color: $palette-light;
	font-family: 'Source Code Pro', monospace;
}

.divider {
	border-bottom: 1px solid $palette-medium;
	height: 48px;
	margin-bottom: 24px;
	width: 100%;
}

.parens {
	color: $palette-dark;
}

.boxParagraph {
	border: 1px solid $palette-light;
	margin: 0 24px 24px;
	padding: 24px;
}

.monospace {
	font-family: 'Source Code Pro', monospace;
	margin: 0 4px;
	opacity: 0.8;
}

.lessBottomMargin {
	margin-bottom: 10px;
}

// DARK

.isDarkMode * {
	color: $palette-extra-light;
}

.isDarkMode h1 {
	color: $palette-extra-light;
	text-shadow: 2px 2px 2px $palette-medium;
}

.isDarkMode .parens {
	color: $palette-medium;
}

@media (min-width: 480px) {
	.blogPostContainer {
		padding: 0 48px 96px;
	}
}

@media (min-width: 768px) {
	p,
	a,
	li,
	span,
	b {
		font-size: 20px;
	}

	.blogPostContainer {
		padding: 0 72px 96px;
	}
}

@media (min-width: 1024px) {
	.blogPostContainer {
		padding: 0 96px 96px;
	}
}
