$palette-dark: #817a99;
$palette-extra-dark: #383d5d;
$palette-extra-light: #fffeef;
$palette-light: #e68a6e;
$palette-medium: #bb77a2;

$dark-bg-a: #383d5d;
$dark-bg-b: #4a4c6c;
$light-bg-a: #fffeef;
$light-bg-b: #f9e1ce;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	font-family: 'Source Code Pro', monospace;
}

html {
	background-color: $palette-extra-dark;
	font-size: 18px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
	color: $palette-extra-dark;
	text-shadow: 1px 1px 0 $palette-dark;
}

h4 {
	font-size: 20px;
}

a {
	color: $palette-medium;
	font-weight: 700;
	text-decoration: none;
}

.reading,
.reading * {
	font-family: 'Roboto', sans-serif;
}

.bigLink {
	font-size: 22px;
	text-shadow: 1px 1px 0 $palette-dark;
}

.homeList {
	padding: 0 40px;
}

.homeList li::marker {
	color: $palette-medium;
}

// DARK

.isDarkMode * {
	color: $light-bg-b;
}

.isDarkMode h3 {
	color: $light-bg-b;
	text-shadow: 1px 1px 0 $palette-light;
}

.isDarkMode a {
	color: $palette-medium;
}

.isDarkMode .bigLink {
	text-shadow: 1px 1px 0 $palette-light;
}

.isDarkMode .reading {
	color: $palette-extra-light;
}

.isDarkMode .textIconLinkText {
	color: $palette-medium;
}

.isNav .textIconLinkText {
	color: $palette-extra-light !important;
	text-shadow: none;
}

@media (min-width: 560px) {
	h3 {
		font-size: 28px;
	}
}

@media (min-width: 768px) {
	h2 {
		font-size: 36px;
	}

	h4 {
		font-size: 24px;
	}

	.reading {
		font-size: 20px;
	}

	.bigLink {
		font-size: 24px;
	}
}
