$palette-a: #fffeef;
$palette-b: #f2c3ad;
$palette-c: #e68a6e;
$palette-d: #bb77a2;
$palette-e: #817a99;
$palette-f: #5d5c7b;
$palette-g: #383d5d;

// TODO

$paletteDark: #000000;
$paletteLight: #000000;
$paletteMedium: #000000;
$paletteMediumDark: #000000;
$paletteMediumLight: #000000;

$darkBgA: #000000;
$darkBgB: #000000;
$lightBgA: #000000;
$lightBgB: #000000;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	font-family: 'Source Code Pro', monospace;
}

html {
	background-color: $palette-f;
	color: $palette-g;
}
